@media screen and (max-width: 768px) {
    .ant-layout-sider-trigger {
      display: none;
    }
  }

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }

  .header span svg {
    padding-top: 3px;
}

.date-picker {
    float: right;
    margin: 8px 24px;
}

nz-content.ant-layout-content {
    min-height: 86vh;
}
.ant-table-body {
    overflow-x: hidden!important;
}